<mat-toolbar color="primary">
    <span>Rick And Morty SPA with Angular</span>
    <span class="example-spacer"></span>
    <div class="example-button-row">
        <a math-button routerLink="/characters" routerLinkActive="active" class="sepatared-buttons">Characters</a>
        <a math-button routerLink="/episodes" routerLinkActive="active" class="sepatared-buttons">Episodes</a>
        <a math-button routerLink="/locations" routerLinkActive="active" class="sepatared-buttons">Location</a>
    </div>

</mat-toolbar>